.sw-h-0 {
	height: 0px;
}

.sw-h-0 {
	height: 0px;
}
.sw-h-0:active {
	height: 0px;
}

.sw-h-0 {
	height: 0px;
}
.sw-h-0:active {
	height: 0px;
}
.sw-h-0:focus {
	height: 0px;
}

.sw-h-8 {
	height: 8px;
}

.sw-h-8 {
	height: 8px;
}
.sw-h-8:active {
	height: 8px;
}

.sw-h-8 {
	height: 8px;
}
.sw-h-8:active {
	height: 8px;
}
.sw-h-8:focus {
	height: 8px;
}

.sw-h-16 {
	height: 16px;
}

.sw-h-16 {
	height: 16px;
}
.sw-h-16:active {
	height: 16px;
}

.sw-h-16 {
	height: 16px;
}
.sw-h-16:active {
	height: 16px;
}
.sw-h-16:focus {
	height: 16px;
}

.sw-h-24 {
	height: 24px;
}

.sw-h-24 {
	height: 24px;
}
.sw-h-24:active {
	height: 24px;
}

.sw-h-24 {
	height: 24px;
}
.sw-h-24:active {
	height: 24px;
}
.sw-h-24:focus {
	height: 24px;
}

.sw-h-32 {
	height: 32px;
}

.sw-h-32 {
	height: 32px;
}
.sw-h-32:active {
	height: 32px;
}

.sw-h-32 {
	height: 32px;
}
.sw-h-32:active {
	height: 32px;
}
.sw-h-32:focus {
	height: 32px;
}

.sw-h-40 {
	height: 40px;
}

.sw-h-40 {
	height: 40px;
}
.sw-h-40:active {
	height: 40px;
}

.sw-h-40 {
	height: 40px;
}
.sw-h-40:active {
	height: 40px;
}
.sw-h-40:focus {
	height: 40px;
}

.sw-h-48 {
	height: 48px;
}

.sw-h-48 {
	height: 48px;
}
.sw-h-48:active {
	height: 48px;
}

.sw-h-48 {
	height: 48px;
}
.sw-h-48:active {
	height: 48px;
}
.sw-h-48:focus {
	height: 48px;
}

.sw-h-56 {
	height: 56px;
}

.sw-h-56 {
	height: 56px;
}
.sw-h-56:active {
	height: 56px;
}

.sw-h-56 {
	height: 56px;
}
.sw-h-56:active {
	height: 56px;
}
.sw-h-56:focus {
	height: 56px;
}

.sw-w-0 {
	width: 0px;
}

.sw-w-0 {
	width: 0px;
}
.sw-w-0:active {
	width: 0px;
}

.sw-w-0 {
	width: 0px;
}
.sw-w-0:active {
	width: 0px;
}
.sw-w-0:focus {
	width: 0px;
}

.sw-w-8 {
	width: 8px;
}

.sw-w-8 {
	width: 8px;
}
.sw-w-8:active {
	width: 8px;
}

.sw-w-8 {
	width: 8px;
}
.sw-w-8:active {
	width: 8px;
}
.sw-w-8:focus {
	width: 8px;
}

.sw-w-16 {
	width: 16px;
}

.sw-w-16 {
	width: 16px;
}
.sw-w-16:active {
	width: 16px;
}

.sw-w-16 {
	width: 16px;
}
.sw-w-16:active {
	width: 16px;
}
.sw-w-16:focus {
	width: 16px;
}

.sw-w-24 {
	width: 24px;
}

.sw-w-24 {
	width: 24px;
}
.sw-w-24:active {
	width: 24px;
}

.sw-w-24 {
	width: 24px;
}
.sw-w-24:active {
	width: 24px;
}
.sw-w-24:focus {
	width: 24px;
}

.sw-w-32 {
	width: 32px;
}

.sw-w-32 {
	width: 32px;
}
.sw-w-32:active {
	width: 32px;
}

.sw-w-32 {
	width: 32px;
}
.sw-w-32:active {
	width: 32px;
}
.sw-w-32:focus {
	width: 32px;
}

.sw-w-40 {
	width: 40px;
}

.sw-w-40 {
	width: 40px;
}
.sw-w-40:active {
	width: 40px;
}

.sw-w-40 {
	width: 40px;
}
.sw-w-40:active {
	width: 40px;
}
.sw-w-40:focus {
	width: 40px;
}

.sw-w-48 {
	width: 48px;
}

.sw-w-48 {
	width: 48px;
}
.sw-w-48:active {
	width: 48px;
}

.sw-w-48 {
	width: 48px;
}
.sw-w-48:active {
	width: 48px;
}
.sw-w-48:focus {
	width: 48px;
}

.sw-w-56 {
	width: 56px;
}

.sw-w-56 {
	width: 56px;
}
.sw-w-56:active {
	width: 56px;
}

.sw-w-56 {
	width: 56px;
}
.sw-w-56:active {
	width: 56px;
}
.sw-w-56:focus {
	width: 56px;
}

