.w-1\/4 {
	width: 25%;
}

.w-1\/4 {
	width: 25%;
}
.hover\:w-1\/4:hover {
	width: 25%;
}

.w-1\/4 {
	width: 25%;
}
.hover\:w-1\/4:hover {
	width: 25%;
}
.active\:w-1\/4:active {
	width: 25%;
}

.w-1\/4 {
	width: 25%;
}
.hover\:w-1\/4:hover {
	width: 25%;
}
.active\:w-1\/4:active {
	width: 25%;
}
.focus\:w-1\/4:focus {
	width: 25%;
}

.w-2\/4 {
	width: 50%;
}

.w-2\/4 {
	width: 50%;
}
.hover\:w-2\/4:hover {
	width: 50%;
}

.w-2\/4 {
	width: 50%;
}
.hover\:w-2\/4:hover {
	width: 50%;
}
.active\:w-2\/4:active {
	width: 50%;
}

.w-2\/4 {
	width: 50%;
}
.hover\:w-2\/4:hover {
	width: 50%;
}
.active\:w-2\/4:active {
	width: 50%;
}
.focus\:w-2\/4:focus {
	width: 50%;
}

.w-3\/4 {
	width: 75%;
}

.w-3\/4 {
	width: 75%;
}
.hover\:w-3\/4:hover {
	width: 75%;
}

.w-3\/4 {
	width: 75%;
}
.hover\:w-3\/4:hover {
	width: 75%;
}
.active\:w-3\/4:active {
	width: 75%;
}

.w-3\/4 {
	width: 75%;
}
.hover\:w-3\/4:hover {
	width: 75%;
}
.active\:w-3\/4:active {
	width: 75%;
}
.focus\:w-3\/4:focus {
	width: 75%;
}

.w-1\/5 {
	width: 20%;
}

.w-1\/5 {
	width: 20%;
}
.hover\:w-1\/5:hover {
	width: 20%;
}

.w-1\/5 {
	width: 20%;
}
.hover\:w-1\/5:hover {
	width: 20%;
}
.active\:w-1\/5:active {
	width: 20%;
}

.w-1\/5 {
	width: 20%;
}
.hover\:w-1\/5:hover {
	width: 20%;
}
.active\:w-1\/5:active {
	width: 20%;
}
.focus\:w-1\/5:focus {
	width: 20%;
}

.w-2\/5 {
	width: 40%;
}

.w-2\/5 {
	width: 40%;
}
.hover\:w-2\/5:hover {
	width: 40%;
}

.w-2\/5 {
	width: 40%;
}
.hover\:w-2\/5:hover {
	width: 40%;
}
.active\:w-2\/5:active {
	width: 40%;
}

.w-2\/5 {
	width: 40%;
}
.hover\:w-2\/5:hover {
	width: 40%;
}
.active\:w-2\/5:active {
	width: 40%;
}
.focus\:w-2\/5:focus {
	width: 40%;
}

.w-3\/5 {
	width: 60.000004%;
}

.w-3\/5 {
	width: 60.000004%;
}
.hover\:w-3\/5:hover {
	width: 60.000004%;
}

.w-3\/5 {
	width: 60.000004%;
}
.hover\:w-3\/5:hover {
	width: 60.000004%;
}
.active\:w-3\/5:active {
	width: 60.000004%;
}

.w-3\/5 {
	width: 60.000004%;
}
.hover\:w-3\/5:hover {
	width: 60.000004%;
}
.active\:w-3\/5:active {
	width: 60.000004%;
}
.focus\:w-3\/5:focus {
	width: 60.000004%;
}

.w-4\/5 {
	width: 80%;
}

.w-4\/5 {
	width: 80%;
}
.hover\:w-4\/5:hover {
	width: 80%;
}

.w-4\/5 {
	width: 80%;
}
.hover\:w-4\/5:hover {
	width: 80%;
}
.active\:w-4\/5:active {
	width: 80%;
}

.w-4\/5 {
	width: 80%;
}
.hover\:w-4\/5:hover {
	width: 80%;
}
.active\:w-4\/5:active {
	width: 80%;
}
.focus\:w-4\/5:focus {
	width: 80%;
}

.w-1\/6 {
	width: 16.666668%;
}

.w-1\/6 {
	width: 16.666668%;
}
.hover\:w-1\/6:hover {
	width: 16.666668%;
}

.w-1\/6 {
	width: 16.666668%;
}
.hover\:w-1\/6:hover {
	width: 16.666668%;
}
.active\:w-1\/6:active {
	width: 16.666668%;
}

.w-1\/6 {
	width: 16.666668%;
}
.hover\:w-1\/6:hover {
	width: 16.666668%;
}
.active\:w-1\/6:active {
	width: 16.666668%;
}
.focus\:w-1\/6:focus {
	width: 16.666668%;
}

.w-2\/6 {
	width: 33.333336%;
}

.w-2\/6 {
	width: 33.333336%;
}
.hover\:w-2\/6:hover {
	width: 33.333336%;
}

.w-2\/6 {
	width: 33.333336%;
}
.hover\:w-2\/6:hover {
	width: 33.333336%;
}
.active\:w-2\/6:active {
	width: 33.333336%;
}

.w-2\/6 {
	width: 33.333336%;
}
.hover\:w-2\/6:hover {
	width: 33.333336%;
}
.active\:w-2\/6:active {
	width: 33.333336%;
}
.focus\:w-2\/6:focus {
	width: 33.333336%;
}

.w-3\/6 {
	width: 50%;
}

.w-3\/6 {
	width: 50%;
}
.hover\:w-3\/6:hover {
	width: 50%;
}

.w-3\/6 {
	width: 50%;
}
.hover\:w-3\/6:hover {
	width: 50%;
}
.active\:w-3\/6:active {
	width: 50%;
}

.w-3\/6 {
	width: 50%;
}
.hover\:w-3\/6:hover {
	width: 50%;
}
.active\:w-3\/6:active {
	width: 50%;
}
.focus\:w-3\/6:focus {
	width: 50%;
}

.w-4\/6 {
	width: 66.66667%;
}

.w-4\/6 {
	width: 66.66667%;
}
.hover\:w-4\/6:hover {
	width: 66.66667%;
}

.w-4\/6 {
	width: 66.66667%;
}
.hover\:w-4\/6:hover {
	width: 66.66667%;
}
.active\:w-4\/6:active {
	width: 66.66667%;
}

.w-4\/6 {
	width: 66.66667%;
}
.hover\:w-4\/6:hover {
	width: 66.66667%;
}
.active\:w-4\/6:active {
	width: 66.66667%;
}
.focus\:w-4\/6:focus {
	width: 66.66667%;
}

.w-5\/6 {
	width: 83.33333%;
}

.w-5\/6 {
	width: 83.33333%;
}
.hover\:w-5\/6:hover {
	width: 83.33333%;
}

.w-5\/6 {
	width: 83.33333%;
}
.hover\:w-5\/6:hover {
	width: 83.33333%;
}
.active\:w-5\/6:active {
	width: 83.33333%;
}

.w-5\/6 {
	width: 83.33333%;
}
.hover\:w-5\/6:hover {
	width: 83.33333%;
}
.active\:w-5\/6:active {
	width: 83.33333%;
}
.focus\:w-5\/6:focus {
	width: 83.33333%;
}

.w-1\/12 {
	width: 8.333334%;
}

.w-1\/12 {
	width: 8.333334%;
}
.hover\:w-1\/12:hover {
	width: 8.333334%;
}

.w-1\/12 {
	width: 8.333334%;
}
.hover\:w-1\/12:hover {
	width: 8.333334%;
}
.active\:w-1\/12:active {
	width: 8.333334%;
}

.w-1\/12 {
	width: 8.333334%;
}
.hover\:w-1\/12:hover {
	width: 8.333334%;
}
.active\:w-1\/12:active {
	width: 8.333334%;
}
.focus\:w-1\/12:focus {
	width: 8.333334%;
}

.w-2\/12 {
	width: 16.666668%;
}

.w-2\/12 {
	width: 16.666668%;
}
.hover\:w-2\/12:hover {
	width: 16.666668%;
}

.w-2\/12 {
	width: 16.666668%;
}
.hover\:w-2\/12:hover {
	width: 16.666668%;
}
.active\:w-2\/12:active {
	width: 16.666668%;
}

.w-2\/12 {
	width: 16.666668%;
}
.hover\:w-2\/12:hover {
	width: 16.666668%;
}
.active\:w-2\/12:active {
	width: 16.666668%;
}
.focus\:w-2\/12:focus {
	width: 16.666668%;
}

.w-3\/12 {
	width: 25%;
}

.w-3\/12 {
	width: 25%;
}
.hover\:w-3\/12:hover {
	width: 25%;
}

.w-3\/12 {
	width: 25%;
}
.hover\:w-3\/12:hover {
	width: 25%;
}
.active\:w-3\/12:active {
	width: 25%;
}

.w-3\/12 {
	width: 25%;
}
.hover\:w-3\/12:hover {
	width: 25%;
}
.active\:w-3\/12:active {
	width: 25%;
}
.focus\:w-3\/12:focus {
	width: 25%;
}

.w-4\/12 {
	width: 33.333336%;
}

.w-4\/12 {
	width: 33.333336%;
}
.hover\:w-4\/12:hover {
	width: 33.333336%;
}

.w-4\/12 {
	width: 33.333336%;
}
.hover\:w-4\/12:hover {
	width: 33.333336%;
}
.active\:w-4\/12:active {
	width: 33.333336%;
}

.w-4\/12 {
	width: 33.333336%;
}
.hover\:w-4\/12:hover {
	width: 33.333336%;
}
.active\:w-4\/12:active {
	width: 33.333336%;
}
.focus\:w-4\/12:focus {
	width: 33.333336%;
}

.w-5\/12 {
	width: 41.666664%;
}

.w-5\/12 {
	width: 41.666664%;
}
.hover\:w-5\/12:hover {
	width: 41.666664%;
}

.w-5\/12 {
	width: 41.666664%;
}
.hover\:w-5\/12:hover {
	width: 41.666664%;
}
.active\:w-5\/12:active {
	width: 41.666664%;
}

.w-5\/12 {
	width: 41.666664%;
}
.hover\:w-5\/12:hover {
	width: 41.666664%;
}
.active\:w-5\/12:active {
	width: 41.666664%;
}
.focus\:w-5\/12:focus {
	width: 41.666664%;
}

.w-6\/12 {
	width: 50%;
}

.w-6\/12 {
	width: 50%;
}
.hover\:w-6\/12:hover {
	width: 50%;
}

.w-6\/12 {
	width: 50%;
}
.hover\:w-6\/12:hover {
	width: 50%;
}
.active\:w-6\/12:active {
	width: 50%;
}

.w-6\/12 {
	width: 50%;
}
.hover\:w-6\/12:hover {
	width: 50%;
}
.active\:w-6\/12:active {
	width: 50%;
}
.focus\:w-6\/12:focus {
	width: 50%;
}

.w-7\/12 {
	width: 58.333332%;
}

.w-7\/12 {
	width: 58.333332%;
}
.hover\:w-7\/12:hover {
	width: 58.333332%;
}

.w-7\/12 {
	width: 58.333332%;
}
.hover\:w-7\/12:hover {
	width: 58.333332%;
}
.active\:w-7\/12:active {
	width: 58.333332%;
}

.w-7\/12 {
	width: 58.333332%;
}
.hover\:w-7\/12:hover {
	width: 58.333332%;
}
.active\:w-7\/12:active {
	width: 58.333332%;
}
.focus\:w-7\/12:focus {
	width: 58.333332%;
}

.w-8\/12 {
	width: 66.66667%;
}

.w-8\/12 {
	width: 66.66667%;
}
.hover\:w-8\/12:hover {
	width: 66.66667%;
}

.w-8\/12 {
	width: 66.66667%;
}
.hover\:w-8\/12:hover {
	width: 66.66667%;
}
.active\:w-8\/12:active {
	width: 66.66667%;
}

.w-8\/12 {
	width: 66.66667%;
}
.hover\:w-8\/12:hover {
	width: 66.66667%;
}
.active\:w-8\/12:active {
	width: 66.66667%;
}
.focus\:w-8\/12:focus {
	width: 66.66667%;
}

.w-9\/12 {
	width: 75%;
}

.w-9\/12 {
	width: 75%;
}
.hover\:w-9\/12:hover {
	width: 75%;
}

.w-9\/12 {
	width: 75%;
}
.hover\:w-9\/12:hover {
	width: 75%;
}
.active\:w-9\/12:active {
	width: 75%;
}

.w-9\/12 {
	width: 75%;
}
.hover\:w-9\/12:hover {
	width: 75%;
}
.active\:w-9\/12:active {
	width: 75%;
}
.focus\:w-9\/12:focus {
	width: 75%;
}

.w-10\/12 {
	width: 83.33333%;
}

.w-10\/12 {
	width: 83.33333%;
}
.hover\:w-10\/12:hover {
	width: 83.33333%;
}

.w-10\/12 {
	width: 83.33333%;
}
.hover\:w-10\/12:hover {
	width: 83.33333%;
}
.active\:w-10\/12:active {
	width: 83.33333%;
}

.w-10\/12 {
	width: 83.33333%;
}
.hover\:w-10\/12:hover {
	width: 83.33333%;
}
.active\:w-10\/12:active {
	width: 83.33333%;
}
.focus\:w-10\/12:focus {
	width: 83.33333%;
}

.w-11\/12 {
	width: 91.66667%;
}

.w-11\/12 {
	width: 91.66667%;
}
.hover\:w-11\/12:hover {
	width: 91.66667%;
}

.w-11\/12 {
	width: 91.66667%;
}
.hover\:w-11\/12:hover {
	width: 91.66667%;
}
.active\:w-11\/12:active {
	width: 91.66667%;
}

.w-11\/12 {
	width: 91.66667%;
}
.hover\:w-11\/12:hover {
	width: 91.66667%;
}
.active\:w-11\/12:active {
	width: 91.66667%;
}
.focus\:w-11\/12:focus {
	width: 91.66667%;
}

.h-1\/4 {
	height: 25%;
}

.h-1\/4 {
	height: 25%;
}
.hover\:h-1\/4:hover {
	height: 25%;
}

.h-1\/4 {
	height: 25%;
}
.hover\:h-1\/4:hover {
	height: 25%;
}
.active\:h-1\/4:active {
	height: 25%;
}

.h-1\/4 {
	height: 25%;
}
.hover\:h-1\/4:hover {
	height: 25%;
}
.active\:h-1\/4:active {
	height: 25%;
}
.focus\:h-1\/4:focus {
	height: 25%;
}

.h-2\/4 {
	height: 50%;
}

.h-2\/4 {
	height: 50%;
}
.hover\:h-2\/4:hover {
	height: 50%;
}

.h-2\/4 {
	height: 50%;
}
.hover\:h-2\/4:hover {
	height: 50%;
}
.active\:h-2\/4:active {
	height: 50%;
}

.h-2\/4 {
	height: 50%;
}
.hover\:h-2\/4:hover {
	height: 50%;
}
.active\:h-2\/4:active {
	height: 50%;
}
.focus\:h-2\/4:focus {
	height: 50%;
}

.h-3\/4 {
	height: 75%;
}

.h-3\/4 {
	height: 75%;
}
.hover\:h-3\/4:hover {
	height: 75%;
}

.h-3\/4 {
	height: 75%;
}
.hover\:h-3\/4:hover {
	height: 75%;
}
.active\:h-3\/4:active {
	height: 75%;
}

.h-3\/4 {
	height: 75%;
}
.hover\:h-3\/4:hover {
	height: 75%;
}
.active\:h-3\/4:active {
	height: 75%;
}
.focus\:h-3\/4:focus {
	height: 75%;
}

.h-1\/5 {
	height: 20%;
}

.h-1\/5 {
	height: 20%;
}
.hover\:h-1\/5:hover {
	height: 20%;
}

.h-1\/5 {
	height: 20%;
}
.hover\:h-1\/5:hover {
	height: 20%;
}
.active\:h-1\/5:active {
	height: 20%;
}

.h-1\/5 {
	height: 20%;
}
.hover\:h-1\/5:hover {
	height: 20%;
}
.active\:h-1\/5:active {
	height: 20%;
}
.focus\:h-1\/5:focus {
	height: 20%;
}

.h-2\/5 {
	height: 40%;
}

.h-2\/5 {
	height: 40%;
}
.hover\:h-2\/5:hover {
	height: 40%;
}

.h-2\/5 {
	height: 40%;
}
.hover\:h-2\/5:hover {
	height: 40%;
}
.active\:h-2\/5:active {
	height: 40%;
}

.h-2\/5 {
	height: 40%;
}
.hover\:h-2\/5:hover {
	height: 40%;
}
.active\:h-2\/5:active {
	height: 40%;
}
.focus\:h-2\/5:focus {
	height: 40%;
}

.h-3\/5 {
	height: 60.000004%;
}

.h-3\/5 {
	height: 60.000004%;
}
.hover\:h-3\/5:hover {
	height: 60.000004%;
}

.h-3\/5 {
	height: 60.000004%;
}
.hover\:h-3\/5:hover {
	height: 60.000004%;
}
.active\:h-3\/5:active {
	height: 60.000004%;
}

.h-3\/5 {
	height: 60.000004%;
}
.hover\:h-3\/5:hover {
	height: 60.000004%;
}
.active\:h-3\/5:active {
	height: 60.000004%;
}
.focus\:h-3\/5:focus {
	height: 60.000004%;
}

.h-4\/5 {
	height: 80%;
}

.h-4\/5 {
	height: 80%;
}
.hover\:h-4\/5:hover {
	height: 80%;
}

.h-4\/5 {
	height: 80%;
}
.hover\:h-4\/5:hover {
	height: 80%;
}
.active\:h-4\/5:active {
	height: 80%;
}

.h-4\/5 {
	height: 80%;
}
.hover\:h-4\/5:hover {
	height: 80%;
}
.active\:h-4\/5:active {
	height: 80%;
}
.focus\:h-4\/5:focus {
	height: 80%;
}

.h-1\/6 {
	height: 16.666668%;
}

.h-1\/6 {
	height: 16.666668%;
}
.hover\:h-1\/6:hover {
	height: 16.666668%;
}

.h-1\/6 {
	height: 16.666668%;
}
.hover\:h-1\/6:hover {
	height: 16.666668%;
}
.active\:h-1\/6:active {
	height: 16.666668%;
}

.h-1\/6 {
	height: 16.666668%;
}
.hover\:h-1\/6:hover {
	height: 16.666668%;
}
.active\:h-1\/6:active {
	height: 16.666668%;
}
.focus\:h-1\/6:focus {
	height: 16.666668%;
}

.h-2\/6 {
	height: 33.333336%;
}

.h-2\/6 {
	height: 33.333336%;
}
.hover\:h-2\/6:hover {
	height: 33.333336%;
}

.h-2\/6 {
	height: 33.333336%;
}
.hover\:h-2\/6:hover {
	height: 33.333336%;
}
.active\:h-2\/6:active {
	height: 33.333336%;
}

.h-2\/6 {
	height: 33.333336%;
}
.hover\:h-2\/6:hover {
	height: 33.333336%;
}
.active\:h-2\/6:active {
	height: 33.333336%;
}
.focus\:h-2\/6:focus {
	height: 33.333336%;
}

.h-3\/6 {
	height: 50%;
}

.h-3\/6 {
	height: 50%;
}
.hover\:h-3\/6:hover {
	height: 50%;
}

.h-3\/6 {
	height: 50%;
}
.hover\:h-3\/6:hover {
	height: 50%;
}
.active\:h-3\/6:active {
	height: 50%;
}

.h-3\/6 {
	height: 50%;
}
.hover\:h-3\/6:hover {
	height: 50%;
}
.active\:h-3\/6:active {
	height: 50%;
}
.focus\:h-3\/6:focus {
	height: 50%;
}

.h-4\/6 {
	height: 66.66667%;
}

.h-4\/6 {
	height: 66.66667%;
}
.hover\:h-4\/6:hover {
	height: 66.66667%;
}

.h-4\/6 {
	height: 66.66667%;
}
.hover\:h-4\/6:hover {
	height: 66.66667%;
}
.active\:h-4\/6:active {
	height: 66.66667%;
}

.h-4\/6 {
	height: 66.66667%;
}
.hover\:h-4\/6:hover {
	height: 66.66667%;
}
.active\:h-4\/6:active {
	height: 66.66667%;
}
.focus\:h-4\/6:focus {
	height: 66.66667%;
}

.h-5\/6 {
	height: 83.33333%;
}

.h-5\/6 {
	height: 83.33333%;
}
.hover\:h-5\/6:hover {
	height: 83.33333%;
}

.h-5\/6 {
	height: 83.33333%;
}
.hover\:h-5\/6:hover {
	height: 83.33333%;
}
.active\:h-5\/6:active {
	height: 83.33333%;
}

.h-5\/6 {
	height: 83.33333%;
}
.hover\:h-5\/6:hover {
	height: 83.33333%;
}
.active\:h-5\/6:active {
	height: 83.33333%;
}
.focus\:h-5\/6:focus {
	height: 83.33333%;
}

.h-1\/12 {
	height: 8.333334%;
}

.h-1\/12 {
	height: 8.333334%;
}
.hover\:h-1\/12:hover {
	height: 8.333334%;
}

.h-1\/12 {
	height: 8.333334%;
}
.hover\:h-1\/12:hover {
	height: 8.333334%;
}
.active\:h-1\/12:active {
	height: 8.333334%;
}

.h-1\/12 {
	height: 8.333334%;
}
.hover\:h-1\/12:hover {
	height: 8.333334%;
}
.active\:h-1\/12:active {
	height: 8.333334%;
}
.focus\:h-1\/12:focus {
	height: 8.333334%;
}

.h-2\/12 {
	height: 16.666668%;
}

.h-2\/12 {
	height: 16.666668%;
}
.hover\:h-2\/12:hover {
	height: 16.666668%;
}

.h-2\/12 {
	height: 16.666668%;
}
.hover\:h-2\/12:hover {
	height: 16.666668%;
}
.active\:h-2\/12:active {
	height: 16.666668%;
}

.h-2\/12 {
	height: 16.666668%;
}
.hover\:h-2\/12:hover {
	height: 16.666668%;
}
.active\:h-2\/12:active {
	height: 16.666668%;
}
.focus\:h-2\/12:focus {
	height: 16.666668%;
}

.h-3\/12 {
	height: 25%;
}

.h-3\/12 {
	height: 25%;
}
.hover\:h-3\/12:hover {
	height: 25%;
}

.h-3\/12 {
	height: 25%;
}
.hover\:h-3\/12:hover {
	height: 25%;
}
.active\:h-3\/12:active {
	height: 25%;
}

.h-3\/12 {
	height: 25%;
}
.hover\:h-3\/12:hover {
	height: 25%;
}
.active\:h-3\/12:active {
	height: 25%;
}
.focus\:h-3\/12:focus {
	height: 25%;
}

.h-4\/12 {
	height: 33.333336%;
}

.h-4\/12 {
	height: 33.333336%;
}
.hover\:h-4\/12:hover {
	height: 33.333336%;
}

.h-4\/12 {
	height: 33.333336%;
}
.hover\:h-4\/12:hover {
	height: 33.333336%;
}
.active\:h-4\/12:active {
	height: 33.333336%;
}

.h-4\/12 {
	height: 33.333336%;
}
.hover\:h-4\/12:hover {
	height: 33.333336%;
}
.active\:h-4\/12:active {
	height: 33.333336%;
}
.focus\:h-4\/12:focus {
	height: 33.333336%;
}

.h-5\/12 {
	height: 41.666664%;
}

.h-5\/12 {
	height: 41.666664%;
}
.hover\:h-5\/12:hover {
	height: 41.666664%;
}

.h-5\/12 {
	height: 41.666664%;
}
.hover\:h-5\/12:hover {
	height: 41.666664%;
}
.active\:h-5\/12:active {
	height: 41.666664%;
}

.h-5\/12 {
	height: 41.666664%;
}
.hover\:h-5\/12:hover {
	height: 41.666664%;
}
.active\:h-5\/12:active {
	height: 41.666664%;
}
.focus\:h-5\/12:focus {
	height: 41.666664%;
}

.h-6\/12 {
	height: 50%;
}

.h-6\/12 {
	height: 50%;
}
.hover\:h-6\/12:hover {
	height: 50%;
}

.h-6\/12 {
	height: 50%;
}
.hover\:h-6\/12:hover {
	height: 50%;
}
.active\:h-6\/12:active {
	height: 50%;
}

.h-6\/12 {
	height: 50%;
}
.hover\:h-6\/12:hover {
	height: 50%;
}
.active\:h-6\/12:active {
	height: 50%;
}
.focus\:h-6\/12:focus {
	height: 50%;
}

.h-7\/12 {
	height: 58.333332%;
}

.h-7\/12 {
	height: 58.333332%;
}
.hover\:h-7\/12:hover {
	height: 58.333332%;
}

.h-7\/12 {
	height: 58.333332%;
}
.hover\:h-7\/12:hover {
	height: 58.333332%;
}
.active\:h-7\/12:active {
	height: 58.333332%;
}

.h-7\/12 {
	height: 58.333332%;
}
.hover\:h-7\/12:hover {
	height: 58.333332%;
}
.active\:h-7\/12:active {
	height: 58.333332%;
}
.focus\:h-7\/12:focus {
	height: 58.333332%;
}

.h-8\/12 {
	height: 66.66667%;
}

.h-8\/12 {
	height: 66.66667%;
}
.hover\:h-8\/12:hover {
	height: 66.66667%;
}

.h-8\/12 {
	height: 66.66667%;
}
.hover\:h-8\/12:hover {
	height: 66.66667%;
}
.active\:h-8\/12:active {
	height: 66.66667%;
}

.h-8\/12 {
	height: 66.66667%;
}
.hover\:h-8\/12:hover {
	height: 66.66667%;
}
.active\:h-8\/12:active {
	height: 66.66667%;
}
.focus\:h-8\/12:focus {
	height: 66.66667%;
}

.h-9\/12 {
	height: 75%;
}

.h-9\/12 {
	height: 75%;
}
.hover\:h-9\/12:hover {
	height: 75%;
}

.h-9\/12 {
	height: 75%;
}
.hover\:h-9\/12:hover {
	height: 75%;
}
.active\:h-9\/12:active {
	height: 75%;
}

.h-9\/12 {
	height: 75%;
}
.hover\:h-9\/12:hover {
	height: 75%;
}
.active\:h-9\/12:active {
	height: 75%;
}
.focus\:h-9\/12:focus {
	height: 75%;
}

.h-10\/12 {
	height: 83.33333%;
}

.h-10\/12 {
	height: 83.33333%;
}
.hover\:h-10\/12:hover {
	height: 83.33333%;
}

.h-10\/12 {
	height: 83.33333%;
}
.hover\:h-10\/12:hover {
	height: 83.33333%;
}
.active\:h-10\/12:active {
	height: 83.33333%;
}

.h-10\/12 {
	height: 83.33333%;
}
.hover\:h-10\/12:hover {
	height: 83.33333%;
}
.active\:h-10\/12:active {
	height: 83.33333%;
}
.focus\:h-10\/12:focus {
	height: 83.33333%;
}

.h-11\/12 {
	height: 91.66667%;
}

.h-11\/12 {
	height: 91.66667%;
}
.hover\:h-11\/12:hover {
	height: 91.66667%;
}

.h-11\/12 {
	height: 91.66667%;
}
.hover\:h-11\/12:hover {
	height: 91.66667%;
}
.active\:h-11\/12:active {
	height: 91.66667%;
}

.h-11\/12 {
	height: 91.66667%;
}
.hover\:h-11\/12:hover {
	height: 91.66667%;
}
.active\:h-11\/12:active {
	height: 91.66667%;
}
.focus\:h-11\/12:focus {
	height: 91.66667%;
}

