TestMenuPanel {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  pointer-events: all;

  .rot {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: blue;
  }
}