@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Sandwind.Components;

@inherits PanelComponent

<root>
    <div class="rot">
        
    </div>
    <TestComponent Test="Enculer"></TestComponent>
</root>

@code {

    // Update every frame. This is just done as a test, and definitely should not be done.
    protected override int BuildHash() => System.HashCode.Combine( Time.Now );

}